

body{
	font-family: 'Poppins', sans-serif;
	background-color:  #95D5AB;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  /*background-color:  #660000;
  color: white;

}

.footerText {
	 
}
p{
	/*font-family: 'Poppins', sans-serif;*/
	font-size: 1.1em;
	font-weight: 300;
	line-height: 1.7em;
	color: rgb(53, 14, 14);
}
a,
a:hover,
a:focus{
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
}

#top{
	background-size: 100% 100%; 
	margin-bottom: auto; 
	padding:0px;
	height:150px;
background: rgb(56,0,0);
background: linear-gradient(90deg, rgba(56,0,0,1) 75%, rgba(179,45,45,1) 90%, rgba(238,122,122,1) 100%);
}

#webLogo{	
	width:1300px;
	height:100%;
	margin:0px;
	margin-left:30px;
}

/* Side Bar*/
#sidebar.active {
	margin-left: -200px;
	/*background: url(images/menu-bg.png);*/
}

.webbackground{
		background-color:  #95D5AB;
		max-width: 100%;
}

.wrapper{
	/*display: flex;*/
	text-decoration: none;
	transition: all 0.3s;
}

#sidebar{
	min-width: 200px;
	padding-right:0px;
	/*max-width: 230px;*/
	/*background: url(images/menu-bg.png);*/
	background-color: #660000;
	/*transition: all 0.3s;*/
}

#sidebar ul.components{
	/*padding: 20px 0;*/
	padding-left: 20px;
	padding-top: 30px;
	padding-bottom: 30px;


	/*border-bottom: 1px solid #91796a;*/
	/*background: url(images/menu-bg.png);*/
	/*background-color: #F77D64;*/
	color:  white;
}

#sidebar ul p{
	color: #fff;
	padding: 10px;
	/*background: url(images/menu-bg.png);*/

}

#sidebar ul li a{
	padding: 10px;
	font-size: 1.1em;
	display: block;
	/*background: url(images/menu-bg.png);*/

}

#sidebar ul li a:hover{
	color: rgb(241, 186, 168);
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
	color: #F77D64;
	
/*background: url(images/menu-bg.png);*/
}

#getRecommendationRoute{
	background-color: #FF9999;
	color: black;
	font-weight: bold;
	font-size: 15px;

}
#getRecommendationRoute:hover{
	background-color: #FF6666;
	color: white;
}

#filterCategory{
	background-color:  #FF9999;
	color: black;
	font-weight: bold;
	font-size: 15px;
}
#filterCategory:hover{
	background-color: #FF6666;
	color: white;
}

#seeNews{
	background-color:  #FF9999;
	color: black;
	font-weight: bold;

}
#seeNews:hover{
	background-color: #FF6666;
	color: white;
}

a[data-toggle="collapse"]{
	position: relative;
}

.dropdown-toggle::after{
	display: block;
	position: absolute;
	top: 50%;
	right: 20%;
	transform: translateY(-50%);
}
ul ul a{
	font-size: 0.9em !important;
	padding-left: 30px !important;
	background: url(images/menu-bg.png);
}

#frm{
	padding-left: 10px; 
	margin-left: 10px;
}

#to{
	padding-left: 10px; 
	margin-left: 10px;
}

#searchbutton{
	padding-left: 10px;
}

*{
	margin: 0;
	padding: 0;
}

#map-container{
		padding-left:0px;
}
#map
{
	max-width: 100%;
	height: 700px;
	/*width: 1150px;*/
	position: relative;
	box-shadow: 5px 10px 10px #292828;
	z-index: 22;
}

#sidebar-container{
	padding-right:0px;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
  }
