body{
	font-family: 'Poppins', sans-serif;
	background: #fafafa;
}
p{
	font-family: 'Poppins', sans-serif;
	font-size: 1.1em;
	font-weight: 300;
	line-height: 1.7em;
	color: rgb(53, 14, 14);
}
a,
a:hover,
a:focus{
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
}

.jumbotron{
	background-image: url(images/banner.png); 
	background-size: 100% 100%; 
	margin-bottom: auto; 
	margin-left: -10px;

}

/* Side Bar*/
#sidebar.active {
	margin-left: -200px;
	background: url(images/menu-bg.png);
}

.wrapper{
	display: flex;
	text-decoration: none;
	transition: all 0.3s;
}

#sidebar{
	min-width: 200px;
	max-width: 200px;
	background: url(images/menu-bg.png);
	color: rgb(110, 27, 27);
	transition: all 0.3s;
}

#sidebar ul.components{
	padding: 20px 0;
	border-bottom: 1px solid #91796a;
	background: url(images/menu-bg.png);

}

#sidebar ul p{
	color: #fff;
	padding: 10px;
	background: url(images/menu-bg.png);

}

#sidebar ul li a{
	padding: 10px;
	font-size: 1.1em;
	display: block;
	background: url(images/menu-bg.png);

}

#sidebar ul li a:hover{
	color: rgb(241, 186, 168);
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
background: url(images/menu-bg.png);
}

a[data-toggle="collapse"]{
	position: relative;
}

.dropdown-toggle::after{
	display: block;
	position: absolute;
	top: 50%;
	right: 20%;
	transform: translateY(-50%);
}
ul ul a{
	font-size: 0.9em !important;
	padding-left: 30px !important;
	background: url(images/menu-bg.png);
}

#frm{
	padding-left: 10px; 
	margin-left: 10px;
}

#to{
	padding-left: 10px; 
	margin-left: 10px;
}

#searchbutton{
	padding-left: 10px;
}

*{
	margin: 0;
	padding: 0;
}

#map
{
	height: 700px;
	width: 1150px;
	position: relative;
	box-shadow: 5px 10px 10px #292828;
	z-index: 22;
}


@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
  }
